header ul {
  font-size: large;
  font-weight: bold;
  height: 1em;
}
header ul li {
  float: left;
  list-style: none;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.entries a {
  color: #006699;
}
