.nav-article {
	 font-weight:bold;
	 margin-bottom: 2em;
}
.main-header-content h2 {
	font-size: 1em;
	font-weight: bold;
}
#post-pagination p {
	float: left;
}
footer {
	clear: both;
	text-align: center;
}
