body {
  font-family: 'Droid Serif', 'Times New Roman', serif;
}

.page {
  width: 600px;
  margin: auto;
}

.header ul {
  list-style: none;
  clear: both;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.header ul li {
  float: left;
  margin-right: 1em;
}

.content {
  clear: both;
  padding-top: 1em;
}

.content ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  padding: 1em;
}
.content ul li {
  border: 1px solid lightgray;
  border-top: 7px solid black;
  border-radius: 7px;
  padding: 1em;
}

.primary-content {
  border: 1px solid lightgray;
  border-top: 7px solid black;
  border-radius: 7px;
  padding: 1em;
}

h1,h2 {
  font-family: 'Droid Sans', Helvetica, sans-serif;
}
h3 span {
  font-size: small;
}

.heading {
  font-size: small;
  font-weight: bold;
}
