* {
  font-family: Georgia, 'Times New Roman', serif;
}

body {
  font-size: 1em;
}

.navbar-fixed-top {
  position: static;
}

blockquote p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#feed-icon:after {
  content: url('/img/feed-icon-28x28.png');
}
