---
layout: default
title: "KOPIS.DE"
overview: true
---

<div>
  <h2>Willkommen</h2>
  <p><g:person href="https://plus.google.com/110503464505798755891" data-rel="author" layout="landscape" theme="light"></g:person></p>
  <p>
    Auf dieser Seite findest Du die <strong>5 neusten Artikel</strong> meines Blogs. 
    Im <a href="/archive">Archiv</a> findest Du auch alle weiteren Artikel und wenn Du etwas 
    bestimmtes suchst, gib hier Deinen Suchbegriff ein:
    {% include google-cse.html %}
  </p>
</div>

<hr style="clear: both;" />

{% for entry in site.posts limit:5 %}
<article>
  <h2><a href="{{ entry.url }}">{{  entry.title }}</a></h2>
  <div class="meta">
    <span class="date">{{ entry.date | date_to_long_string }}</span>
    <span class="responses"><a href="{{ entry.url }}#disqus_thread" data-disqus-identifier="{{ entry.url }}">0 Antworten</a></span> 
    <span class="gplusone"><g:plusone href="{{ site.url }}{{ entry.url }}" size="small"></g:plusone></span>
  </div>
  <p>
    {{ entry.content | strip_html | truncatewords: 50 }} <a href="{{ entry.url }}">weiterlesen</a>
  </p>
</article>
{% endfor %}

<hr />

{% include recentcomments.html %}
