---
layout: default
title: Mainpage
---
<!-- Content
    ================================================== -->
  <div class="top-strip"></div>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<ul class="entries">
    		{% for post in paginator.posts %}
    		  <li>
    		        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			{% if post.category != "wod" %}
       		        <div>{{ post.content | strip_html | strip_newlines | truncatewords: 30 }} <a href="{{ post.url }}">weiter</a></div>
			<hr class="thin" />
			{% endif %}
			<div class="postmeta">Gepostet am <span class="postdate">{{ post.date | date: "%d %B %Y" }}</span>
			<span><a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ entry.url }}">0 Antworten</a></span>
			<span class="gplusone"><g:plusone href="{{ site.url }}{{ post.url }}" size="small"></span>
			<span class="flattr"><a class="FlattrButton" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" lang="de">{{ post.content | strip_html | truncatewords: 30 }}</a></span>
			</div>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      <hr>
      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

{% comment %}
        <ul class="pages">
          <li class="page">
            {% if paginator.page == 1 %}
<!--             <span class="current-page">1</span> -->
            {% else %}
            <a href="/">1</a>
            {% endif %}
          </li>

          {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
            <span class="current-page">{{count}}</span>
            {% else %}
            <a href="/page{{count}}">{{count}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
{% endcomment %}

        {% if paginator.next_page %}
        <p class="next">
          <a href="/page{{paginator.next_page}}">Next</a>
        </a>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

    </main>
  </div>

