<footer>
  <div class="content">
    <div class="grid4 first">
      <p>Erstellt von <a href="http://www.kopis.de/">Carsten Ringe</a></p>
    </div>
    <div class="grid8 align-right">
      <p>Läuft auf 
      <a href="https://github.com">
        <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
      </a></p>
	  <p>Letztes Update {{ site.time }}.</p>
    </div>
    <div class="clear"></div>
  </div>
</footer>
<div class="clear"></div>

{% include flattr.html %}
{% include gplusone.html %}
{% include syntaxhighlighter.html %}