<header>
{% include github_ribbon.html %}
  <div class="content">
    <div class="grid3 first">
      <h1>
        <a href="{{ site.url }}/">
          <span>KOPIS.DE</span>
{% comment %}
          <img src="{{ site.url }}/img/logo-2x.png" width="249px" height="115px" alt="">
{% endcomment %}
        </a>
      </h1>
    </div>
    <nav class="grid9">
      <ul>
        <li {% if page.overview %}class="current"{% endif %}>
          <a href="{{ site.url }}/">Startseite</a>
        </li>
        <li {% if page.archives %}class="current"{% endif %}>
          <a href="{{ site.url }}/archive">Archiv</a>
        </li>
	<li class="feed">
	  <a href="/atom.xml">Feed</a>
	</li>
        <li {% if page.contact %}class="current"{% endif %}>
          <a href="{{ site.url }}/contact">Kontakt</a>
        </li>

        <li>
          <a href="https://github.com/MoriTanosuke/moritanosuke.github.com">Auf GitHub ansehen</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>
