{% comment %}
<!--
Collate_posts helper. Collated posts by year and month.
Usage:
		{% assign posts_collate = site.posts %}
		{% include posts_collate.html %}

	Ordering:
		Posts are displayed in reverse chronological order.
		For normal chronological order:
			1) Change the for loop to this:
				=> 'for post in site.posts reversed'
			2) Next make sure to change 'post.previous.date' to:
				=> 'post.next.date'
				
-->
{% endcomment %}

{% for post in posts_collate	%}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
	{% capture this_month_localized %}{{ post.date | localize: "%B" }}{% endcapture %}
	{% capture this_month_num %}{{ post.date | date: "%m" }}{% endcapture %}
	{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
	{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
	{% capture next_month_num %}{{ post.previous.date | date: "%m" }}{% endcapture %}
	
	{% if forloop.first %}
		<h3 class="archives">{{this_year}}</h3>
		<p>
		<h4>{{this_month}}</h4>
		<!-- h4>{{this_month_localized}}</h4 -->
		<ul>
	{% endif %}
	
	{% include post-listing-inner.html %}
	
	{% if forloop.last %}
		</ul>
		</p>
	{% else %}
		{% if this_year != next_year %}
			</ul>
			<h3 class="archives">{{next_year}}</h3>
			<p>
			<h4>{{next_month}}</h4>
			<ul>
		{% else %}
			{% if this_month != next_month %}
				</ul>
				<h4>{{next_month}}</h4>
				<ul>
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

{% assign posts_collate = null %}
