<!DOCTYPE HTML>
<html lang="de-DE">
<head>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Lato:300,400,700,300italic,400italic,700italic:latin', 'Arizonia::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/grid.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/shCore.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/shThemeDefault.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.png" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="Blog von Carsten Ringe" />
  <script src="{{ site.url }}/js/modernizr-2.5.3.min.js"></script>
  <script src="{{ site.url }}/js/jquery-1.9.1.min.js"></script>
  <script src="{{ site.url }}/js/emotes.js"></script>
  <script src="{{ site.url }}/js/shCore.js"></script>
  <script src="{{ site.url }}/js/shAutoloader.js"></script>
  <script src="{{ site.url }}/js/shBrushJScript.js"></script>
</head>
