<ol id="joyridetour">
  <li data-id="navlink-home">Hier kommst Du immer wieder auf diese Seite zurück, falls Du Dich verklickt hast.</li>
  <li data-id="navlink-shop">Ich habe einen Sammlung von interessanten Büchern und Tools zusammengestellt, die Du hier ansehen kannst.</li>
  <li data-id="navlink-contact">Auf dieser Seite findest Du Wege, mit mir Kontakt aufzunehmen. Ausserdem kannst Du meinen GPG-Key runterladen.</li>
  <li data-id="navlink-feed">Wenn Du einen Feedreader (wie z.B. <a href="http://reader.google.com/">Google Reader</a>) verwendest, kannst Du hier meinen Feed abonnieren.</li>
  <li data-id="searchForm">Wenn Du etwas bestimmtes suchst, kannst Du hier Suchbegriffe eingeben und Google wird für Dich meine Seite danach durchsuchen.</li>
  <li data-id="extras">Falls Du wissen möchtest, was ich sonst noch mache: hier findest Du Links zu meinen anderen Seiten. :-)</li>
  <li data-id="posts-top">Jetzt kannst Du anfangen, in meinen letzten Artikeln zu stöbern. Viel Spass!</li>
</ol>
<script type="text/javascript">
function startTour() {
    $('#joyridetour').joyride({
      'timer': 5000,
      'startTimerOnClick': true,
    });
}
</script>