---
layout: default
---
<header>
<h1>Posts <h1>
</header>

<ul class="posts">
{% for ps in site.posts %}
<section>
<header class="post-header">
<hgroup>
  <li><time datetime="{{ ps.date | date_to_string }}" pubdate>{{ ps.date }}</time>&nbsp;<a href="{{ ps.url }}">{{ ps.title }}</a> (<a href="{{ ps.url }}#disqus_thread">Kein Kommentar</a>)</li>
</hgroup>
</header>
</section>
{% endfor %}
</ul>

<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus-shortname }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
