---
layout: default
---
<div class="frontpage">
{% for ps in paginator.posts %}
<h3 class="ul-li-heading"><a href="{{ ps.url }}">{{ ps.title }}</a> <span>{{ ps.date | date:"%d.%m.%Y" }} <a href="{{ site.base-url }}{{ ps.url }}#disqus_thread" data-disqus-identifier="{{ ps.url }}">0</a></span></h3>
<p>{{ ps.excerpt }} <a href="{{ ps.url }}">weiterlesen</a></p>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page == 1 %}
    <a href="/" class="previous">N&auml;chste</a>
  {% else %}
    {% if paginator.previous_page %}
      <a href="/page{{paginator.previous_page}}" class="previous">N&auml;chste</a>
    {% else %}
      <span class="previous">Erste</span>
    {% endif %}
  {% endif %}

  <span class="page_number ">{{paginator.page}} von {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Vorherige</a>
  {% else %}
    <span class="next ">Letzte</span>
  {% endif %}
</div>

<!--
<div id="recentcomments" class="dsq-widget" data-role="collapsible"><h2 class="dsq-widget-title">Recent Comments</h2><script type="text/javascript" src="http://kopisde.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div>
-->

<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus-shortname }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
