---
layout: default
---
<div class="primary-content">
{{ content }}
</div>
{% include disqus.html %}
<div class="share">
<a class="FlattrButton" style="display:none;"
    title="{{ page.title }}"
    data-flattr-uid="cringe"
    data-flattr-tags="text, opensource"
    data-flattr-category="text"
    href="{{ site.url }}{{ page.url }}">{{ content | strip_html | truncatewords: 50 }}</a>
</div>
<div class="related-articles">
<h3>Weitere Artikel</h3>
<ul>
{% for post in site.related_posts limit:3 %}
   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
